<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Internshala Stats and Recommendation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form method="post">
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <link rel="stylesheet"
                            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
                        <link rel="stylesheet"
                            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                        <script
                            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
                        <script
                            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
                        <select class="selectpicker" name="category" multiple data-live-search="true" id="category"
                            required>
                            <option>.NET Development</option>
                            <option>3D Printing</option>
                            <option>Accounts</option>
                            <option>Acting</option>
                            <option>Aerospace Engineering</option>
                            <option>Agriculture &amp; Food Engineering</option>
                            <option>Analytics</option>
                            <option>Anchoring</option>
                            <option>Android App Development</option>
                            <option>Angular.js Development</option>
                            <option>Animation</option>
                            <option>Architecture</option>
                            <option>Artificial Intelligence (AI)</option>
                            <option>ASP.NET Development</option>
                            <option>Audio Making/Editing</option>
                            <option>Automobile Engineering</option>
                            <option>Backend Development</option>
                            <option>Big Data</option>
                            <option>Bioinformatics</option>
                            <option>Biology</option>
                            <option>Biotechnology Engineering</option>
                            <option>Blockchain Development</option>
                            <option>Blogging</option>
                            <option>Brand Management</option>
                            <option>CAD Design</option>
                            <option>Campus Ambassador</option>
                            <option>Chartered Accountancy (CA)</option>
                            <option>Chemical Engineering</option>
                            <option>Chemistry</option>
                            <option>Cinematography</option>
                            <option>Civil Engineering</option>
                            <option>Client Servicing</option>
                            <option>Cloud Computing</option>
                            <option>Commerce</option>
                            <option>Company Secretary (CS)</option>
                            <option>Computer Science</option>
                            <option>Computer Vision</option>
                            <option>Content Writing</option>
                            <option>Copywriting</option>
                            <option>Creative Writing</option>
                            <option>Culinary Arts</option>
                            <option>Customer Service</option>
                            <option>Cyber Security</option>
                            <option>Data Entry</option>
                            <option>Data Science</option>
                            <option>Database Building</option>
                            <option>Design</option>
                            <option>Dietetics/Nutrition</option>
                            <option>Digital Marketing</option>
                            <option>Editorial</option>
                            <option>Electrical Engineering</option>
                            <option>Electronics Engineering</option>
                            <option>Embedded Systems</option>
                            <option>Energy Science &amp; Engineering</option>
                            <option>Engineering</option>
                            <option>Engineering Design</option>
                            <option>Engineering Physics</option>
                            <option>Environmental Sciences</option>
                            <option>Event Management</option>
                            <option>Facebook Marketing</option>
                            <option>Fashion Design</option>
                            <option>Film Making</option>
                            <option>Finance</option>
                            <option>Flutter Development</option>
                            <option>Front End Development</option>
                            <option>Full Stack Development</option>
                            <option>Fundraising</option>
                            <option>Game Development</option>
                            <option>General Management</option>
                            <option>Government</option>
                            <option>Graphic Design</option>
                            <option>Hospitality</option>
                            <option>Hotel Management</option>
                            <option>Human Resources (HR)</option>
                            <option>Humanities</option>
                            <option>Image Processing</option>
                            <option>Industrial &amp; Production Engineering</option>
                            <option>Industrial Design</option>
                            <option>Information Technology</option>
                            <option>Instrumentation &amp; Control Engineering</option>
                            <option>Interior Design</option>
                            <option>Internet of Things (IoT)</option>
                            <option>iOS App Development</option>
                            <option>Java Development</option>
                            <option>Javascript Development</option>
                            <option>Journalism</option>
                            <option>Law</option>
                            <option>Legal Research</option>
                            <option>Machine Learning</option>
                            <option>Magento Development</option>
                            <option>Manufacturing Engineering</option>
                            <option>Market/Business Research</option>
                            <option>Marketing/Sales</option>
                            <option>Material Science</option>
                            <option>Mathematics</option>
                            <option>MBA</option>
                            <option>Mechanical Engineering</option>
                            <option>Mechatronics</option>
                            <option>Media</option>
                            <option>Medicine</option>
                            <option>Merchandise Design</option>
                            <option>Mobile App Development</option>
                            <option>Motion Graphics</option>
                            <option>Music</option>
                            <option>Network Engineering</option>
                            <option>NGO</option>
                            <option>Node.js Development</option>
                            <option>Operations</option>
                            <option>Pharmaceutical</option>
                            <option>Photography</option>
                            <option>PHP Development</option>
                            <option>Physics</option>
                            <option>Political/Economics/Policy Research</option>
                            <option>Public Relations (PR)</option>
                            <option>Product Management</option>
                            <option>Programming</option>
                            <option>Project Management </option>
                            <option>Proofreading</option>
                            <option>Psychology</option>
                            <option>Python/Django Development</option>
                            <option>Recruitment</option>
                            <option>Robotics</option>
                            <option>Ruby on Rails</option>
                            <option>Science</option>
                            <option>Search Engine Optimization (SEO)</option>
                            <option>Social Media Marketing</option>
                            <option>Social Work</option>
                            <option>Software Development</option>
                            <option>Software Testing</option>
                            <option>Statistics</option>
                            <option>Strategy</option>
                            <option>Subject Matter Expert (SME)</option>
                            <option>Supply Chain Management (SCM)</option>
                            <option>Talent Acquisition</option>
                            <option>Teaching</option>
                            <option>Telecalling</option>
                            <option>Transcription</option>
                            <option>Translation</option>
                            <option>Travel &amp; Tourism</option>
                            <option>UI/UX Design</option>
                            <option>Video Making/Editing</option>
                            <option>Videography</option>
                            <option>Volunteering</option>
                            <option>Web Development</option>
                            <option>Wordpress Development</option>
                        </select>
                    </div>


                    <div class="form-group form-switch">
                        <input class="form-check-input" name="wfh" type="checkbox" role="switch" id="wfh" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Work From Home</label>
                    </div>
                    <div class="form-group">
                        <label for="location">Location (Optional):</label>
                        <input type="text" name="location" class="form-control" id="location" placeholder="City Name">
                    </div>
                    <button type="Submit" class="btn form-control btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>